/*Makes the Text in the logo white if it is a text-based logo*/
.text-logo{
    color: white !important;
}

/*Makes nav links in header white*/
.navigation-wrap nav a {
    color: #fafafa !important;
    text-decoration: none;
}

.w-nav-overlay [data-nav-menu-open]{
    background-color: #0c0b0b;
}